<script>
  function submitForm(card, impact, effort) {
    var form = document.getElementById('myform');
    var input1 = document.createElement('input');
    input1.name = "impact";
    input1.value = impact;
    input1.type = "hidden";
    form.appendChild(input1);
    var input2 = document.createElement('input');
    input2.name = "effort";
    input2.value = effort;
    input2.type = "hidden";
    form.appendChild(input2);
    form.submit();
  }
</script>
<h1><%= @board.name %></h1>

<div id="left-frame">
  <table>
  <% (1..9).to_a.each do |i| %>
    <% if (i+2) % 3 == 0 then %>
    <tr>
    <% end %>
      <td id="cell-<%= i %>" class="cell">
      <% @buckets[i.to_s.to_sym].each do |card| %>
        <div class="card"><%= card.name %></div>
      <% end %>
      </td>
    <% if i % 3 == 0 then %>
    </tr>
    <% end %>
  <% end %>
  </table>
</div>
<div id="right-frame">
  <form method="post" id="myform">
  <% @buckets[:'0'].each do |card| %>
    <div class="card">
      <p><%= card.name %></p>
      <p>
      <% CELL_LAYOUT.each_with_index do |cell, i| %>
        <% impact, effort = cell %>
        <input type="button" onclick="submitForm('<%= card.id %>', '<%= impact %>', '<%= effort %>')" value=" ">
        <% if (i+1) % 3 == 0 then %><br/><% end %>
      <% end %>
      </p>
    </div>
  <% end %>
  </form>
</div>
<div style="clear: both"></div>
