<script>
  var card_map = new Array();

  function allowDrop(ev) {
    if(ev.target.getAttribute("class") == "cell" || ev.target.id == "unclassified") {
      ev.preventDefault();
    }
  }

  function drag(ev) {
    ev.dataTransfer.setData("card_id",ev.target.id);
  }

  function drop(impact, effort, ev) {
    ev.preventDefault();
    var card_id = ev.dataTransfer.getData("card_id");
    var comment_id = card_map[card_id];
    if (comment_id == undefined) comment_id = '';
    ev.target.appendChild(document.getElementById(card_id));
    $.ajax({ 
      type: "POST",
      data: { comment: comment_id, impact: impact, effort: effort },
      url: "/boards/<%= @board.id %>/cards/" + card_id,
    }).done(function (new_comment) {
      card_map[card_id] = new_comment;
    });
  }
</script>

<h1><%= @board.name %></h1>
<div id="left-frame">
  <table id="cell-table">
  <% CELL_LAYOUT.each_with_index do |cell, i| %>
    <% impact, effort = cell %>
    <% if i % 3 == 0 then %>
    <tr>
      <td class="side-label"><%= impact %> impact</td>
    <% end %>
      <td id="cell-<%= i+1 %>" class="cell" ondrop="drop('<%= impact %>', '<%= effort %>', event)" ondragover="allowDrop(event)">
      <% @buckets[(i+1).to_s.to_sym].each do |contents| %>
        <% card = contents[:card] %>
        <script>
          card_map['<%= card.id %>'] = '<%= contents[:comment] %>';
        </script>
        <div id="<%= card.id %>" class="card" draggable="true" ondragstart="drag(event)">
          <a href="<%= card.url %>" target="_blank"><img class="link-img" src="/images/external-link-grey-dark06.png" /></a><span class="card-title"><%= card.name %></span>
        </div>
      <% end %>
      </td>
    <% if (i+1) % 3 == 0 then %>
    </tr>
    <% end %>
  <% end %>
    <tr>
      <td></td>
      <td class="bottom-label">high effort</td>
      <td class="bottom-label">medium effort</td>
      <td class="bottom-label">low effort</td>
    </tr>
  </table>
</div>
<div id="right-frame">
  <div id="unclassified" ondrop="drop('', '', event)" ondragover="allowDrop(event)">
    <h6>Unclassified</h6>
    <% @buckets[:'0'].each do |contents| %>
      <% card = contents[:card] %>
      <div id="<%= card.id %>" class="card" draggable="true" ondragstart="drag(event)">
        <a href="<%= card.url %>" target="_blank"><img class="link-img" src="/images/external-link-grey-dark06.png" /></a><span class="card-title"><%= card.name %></span>
      </div>
    <% end %>
  </div>
</div>
<div style="clear: both"></div>
